extends page
block body
    link(href='css/addUser.css', rel='stylesheet')
    script(src='js/Users.js')
    div.container-fluid
        div.col-lg-2
            form#addUs
                h4 Заполните форму
                input.form-control#firstname(type="text" placeholder="Фамилия" pattern="^[а-яА-яЁё\s]+$")

                input.form-control#middlename(type="text" placeholder="Имя" pattern="^[а-яА-яЁё\s]+$")

                input.form-control#latsname(type="text" placeholder="Отчество" pattern="^[а-яА-яЁё\s]+$")
                a(href='http://localhost:3000/user')
                    button.btn.btn-success.btnForm(onclick="addUser();") Добавить
                button.btn.btn-danger.btnForm(onclick="hiddenForm();") Отмена
        div.col-lg-8
            table.table.table-hover.table-striped
                thead
                    tr
                        th Фамилия
                        th Имя
                        th Отчество
                        th Идентифика́тор
                        th
                            button.btn.btn-xs(onclick="visibleForm();")
                                span.glyphicon.glyphicon-plus.text-success(aria-hidden="true")
                tbody.UserList
                    - for(var i = 0; i < users.length; i++)
                          -var fio = users[i].FIO.split(' ');
                          tr
                              td= fio[0]
                              td= fio[1]
                              td= fio[2]
                              td(id=i)= users[i]._id
                              td
                                  button.btn.btn-xs(onclick="updateUser("+i+");")
                                    span.glyphicon.glyphicon-pencil(aria-hidden="true")
                                  a(href='http://localhost:3000/user')
                                      button.del.btn.btn-xs(onclick="deleteUser("+i+");")
                                        span.glyphicon.glyphicon-remove.text-danger(aria-hidden="true")

