extends page
block body
    script(type='text/javascript', src='js/client.js')
    div.col-xs-8.col-sm-offset-2.col-md-offset-2
        table.table.table-striped
            thead
                tr
                    th Фамилия
                    th Имя
                    th Отчество
                    th Публикация
            tbody.UserList
