extends page
block body
    div.col-xs-8.col-sm-offset-2.col-md-offset-2
        table.table.table-striped
            thead
                tr
                    th Фамилия
                    th Имя
                    th Отчество
                    th Публикация
            tbody.UserList
                tr
                    - for(var i = 0; i < users.length; i++)
                      -var fio = users[i].FIO.split(' ');
                      th= fio[0]
                      th= fio[1]
                      th= fio[2]
                      th= 'Надо подумать'
                      tr
